:root
{
  --primary: rgb(223, 49, 95);
  --secondary:purple;
  --dark: rgba(6, 1, 19, 0.847);
  --light: rgb(221, 230, 239); 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  background-color: var(--light);
}
.App{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.calculator{
  min-width: 100px;
  width: 58%;
  height: 90%;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display{
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

button{
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s;
  color: white;
}

button:hover{
  opacity: 0.9;
}

.operators{
  display: flex;
}

.operators button{
  flex:1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}